* {
  box-sizing: border-box;
}

body{
  margin:0;
  padding:0;
  text-align: center;
  color: black;
  background-color: rgb(247, 241, 245);
}
 /* Link styles */

 a{
   text-decoration:none;
   color:black;
 }
 a:hover{
   color:rgb(240, 184, 196);
 }

 /* Nav style */

 .main-nav{
   width: 100%;
   background:#f5dbdb;
   min-height: 30px;
   padding:22px;
   position:fixed;
   text-align:center;
   font-family:'Indie Flower', cursive;
  font-weight: bold;
  font-size: 20px;
  
 }
 
 .nav{
   display: flex;
   justify-content: space-around;
   font-weight: 700;
   list-style-type:none;
   margin: 0 auto;
   padding:0;
 }
 .nav .name{
   display:block;
   margin-right: auto;
   color:black;
 }
 .nav li{
   padding: 5px 10px 10px 10px;
 }
.nav a {
  transition: all 1s;
}
 nav ul .about a:hover{
   color:royalblue;
   padding-top: 20px;
   background:url("images/aboutme.png") top center no-repeat;
 }
 
 nav ul .contact a:hover{
   color: royalblue;
   padding-top: 20px;
   background:url("images/rsz_telephone-icons-5497900_640.png") top center no-repeat;
 }
 nav ul .home a:hover{
  color: royalblue;
  padding-top: 20px;
  background:url("images/home.png") top center no-repeat;
}

header {
  text-align: center;
  background: url('images/background.jpg') no-repeat top center ;
  background-size: cover;
  overflow: hidden;
  padding-top: 60px;
}


header {
  line-height: 1.5;
}
header .profile-image {
  margin-top: 50px;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border: 2px solid rgb(180, 116, 159);;
  transition: all 1s ease-in;
}
header .profile-image:hover {
  transform: scale(1.2) rotate(360deg);
}
.tag {
  background-color:rgb(245, 224, 238);
  color: black;
  font-family: 'Gloria Hallelujah', cursive;
  padding: 10px;
  border-radius: 5px;
  display: table;
  margin: 10px auto;
} 
.location {
  background-color: #f5dbdb;
  color: blueviolet;
}

.bady{
  background: url('images/rsz_frame.png') center center no-repeat;
  background-size: cover;
}

/* body content */

.card {
  margin: 30px;
  padding: 20px 40px 40px;
  max-width: 500px;
  text-align: left;
  background: #fff;
  border-bottom: 4px solid #ccc;
  border-radius: 20%;
  transition: all .5s;
  font-family: 'Gloria Hallelujah', cursive;
}
.card:hover {
  border-color: #ff99ff;
}

.contactor{
  margin: 90px;
  padding: 20px 40px 40px;
  max-width: 500px;
  text-align: center;
  background: #fff;
  border-bottom: 4px solid #ccc;
  border-radius: 20%;
  transition: all .5s;
  font-family: 'Gloria Hallelujah', cursive;
}

ul.skills {
  padding: 0;
  text-align: center;
}

.skills li {
  border-radius: 6px;
  display: inline-block;
  background: rgb(248, 145, 97);
  color: white;
  padding: 5px 10px;
  margin: 2px;
}

.skills li:nth-child(odd) {
  background: #98acb9;
}

footer {
  width: 100%;
  min-height: 30px;
  padding: 20px 0 40px 20px;
}

footer .copyright {
  top: -8px;
  font-size: .75em;
}

footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

footer ul li {
  display: inline-block;
}

a.social {
  display: inline-block;
  text-indent: -9999px;
  margin-left: 5px;
  width: 30px;
  height: 30px;
  background-size: 30px 30px;
  opacity: .5;
  transition: all .5s;
}
a.github {
  background-image: url(images/github.svg);
}
a.social:hover {
  opacity: 1;
}
.clearfix {
  clear: both;
}

.me {
  width: 1200px;
  margin-top: 70px;
  margin-left: 70px;
  background-color: white;
  border-bottom: 6px solid #ccc;
  transition: all .5s;
 overflow: auto;
 border-radius: 20px;
}

.me:hover{
  border-color:  #ff99ff;
}

.aboutme-photo {
  float: left;
  width: 200px;
  height: 320px ;
  margin: 20px;
  border-radius: 50%;
  transition: all .5s;
}
.aboutme-photo:hover{
  transform: scale(1.1);
}

.my-story{
  float: right;
  margin:40px;
  padding:10px;
  width:70%;
  text-align: center;
  font-family: 'Gloria Hallelujah', cursive;
}

.hobbie{
  width: 300px;
  height: 300px;
  border-radius: 50%;
}



/* Styles for larger screens */
@media screen and (min-width: 720px) {
  
  .flex {
      display: -ms-flexbox;      /* TWEENER - IE 10 */
      display: flex; 
      max-width: 1200px;
      -ms-flex-pack: distribute;
      justify-content: space-around;
      margin: 0 auto;
  }

  header {
    min-height: 470px;
  }

  .nav {
    max-width: 1200px;
    padding: 0 30px;
  }


  main {
    padding-top: 20px;
  }

  main p {
    line-height: 1.6em;
  }

  footer {
    font-size: 1.3em;
    max-width: 1200px;
    margin: 40px auto;
  }

}




